body {
padding: 0px;
margin: 0px;
font-size: 16px;
color: #303846;
font-family: "Arial", sans-serif;
}

li a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.align-middle {
vertical-align: middle;
}

.align-center {
text-align: center;
}

.border-green {
border:2px solid #61cbb7;
}

.header {
position: fixed;
top: 0px;
width: 100%;
background-color: white;
font-size: 14px;
font-weight: bold;
}

.f-space-between {
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.dark-grey {
color: #303846;
}

.header-logo {
margin-left: 0;
padding: 1%;
display: inline-block;
}

.display-inline {
display: inline;
}

.ls-none {
list-style-type: none;
}

.navigation {
margin-right: 0;
padding: 1%;
display: inline-block;
}

.text-decoration-none {
text-decoration: none;
}

.c-white {
color: white;
}

.main-background {
padding: 70px 0px;
background-image: url("../images/banner.png");
background-size: 130%;
background-position: 10% 65%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-weight: bold;
}

.mt-5 {
margin-top: 3%;
}

.main-background-text {
font-size: 20px;
line-height: 0.4;
}

.main-background button {
border-color: white;
}

.container {
width: 1000px;
}

.f-center {
justify-content: center;
}

.f-space-around {
justify-content: space-around;
}

.f-space-evenly {
justify-content: space-evenly;
}

.p-1 {
padding: 1%;
}

.background-grey {
background-color:#f7f7f7;
}

.p-30px {
padding: 30px 0px;
}

.m-15px {
margin: 15px;
}

.fs-24px {
font-size: 24px;
}

.fs-20px {
font-size: 20px;
}

.fw-900 {
font-weight: 900;
}

.fw-bold {
font-weight: bold;
}

.w-33 {
width: 33%;
}

.m-auto {
margin: auto;
}

.flex {
display: flex;
}

.flex-column {
flex-direction: column;
}

.f-start {
justify-content: flex-start;
}

.w-50 {
width: 50%;
}

.w-40 {
width: 40%;
}

.form-sphere {
border: 1px solid #AAA;
border-radius: 7px;
padding: 1%;
}

.color-green {
color: #61cbb7;
}

.button {
margin-top: 0px;
padding: 7px 30px;
background-color: transparent;
border-radius: 6px;
border-width: 1px;
border-style: solid;
}

.footer {
padding: 55px;
font-size: 14px;
background-color: #303846;
display: flex;
justify-content: space-between;
}

.margin-block-start {
margin-block-start: 0.5em;
}

.footer-logo {
display: flex;
flex-direction: column;
}

.f-align-center {
align-items: center;
}

.ml-5px {
margin-left: 5px;
}

.m-0 {
margin: 0px;
}