body {
padding: 0px;
margin: 0px;
font-size: 16px;
color: #303846;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
"Helvetica Neue", Arial, "Noto Sans", sans-serif, 
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height: 1.5;
}

h1,h2 {
  line-height: 1.2;
}

a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.text-center {
text-align: center;
}

.f-align-center {
  align-items: center;
}

.btn-green {
border: 2px solid #61cbb7;
color: #61cbb7; 
}

.header {
position: fixed;
top: 0;
width: 100%;
background-color: white;
font-size: 14px;
box-sizing: border-box;
padding: 0px 20px;
}

.f-space-between {
justify-content: space-between;
}

.dark-grey {
color: #303846;
}

.ls-none {
list-style-type: none;
}

.text-decoration-none {
text-decoration: none;
}

.c-white {
color: white;
}

.banner {
background-image: url("../images/banner.png");
background-size: 130%;
background-position: 10% 70%;
flex-direction: column;
align-items: center;
justify-content: center;
font-weight: bold;
width: fill-available;
}

.mt-4 {
margin-top: 4%;
}

.fs-18px {
font-size: 18px;
}

.btn-white {
border-color: white;
color: white;
}

.container {
margin: 0 auto;
padding: 3%;
width: 1000px;
}

.f-space-around {
justify-content: space-around;
}

.f-space-evenly {
justify-content: space-evenly;
}

.p-1 {
padding: 1%;
}

.p-2 {
  padding: 2%;
}

.border-green {
  border: 2px solid #61cbb7;
}

.background-grey {
background-color:#f7f7f7;
}

.m-10px {
margin: 10px;
}

.fw-900 {
font-weight: 900;
}

.fw-bold {
font-weight: bold;
}

.w-33 {
width: 33%;
}

.fs-26px {
  font-size: 26px;
}

.fs-20 {
  font-size: 20px;
}

.m-auto {
margin: auto;
}

.d-flex {
display: flex;
}

.flex-column {
flex-direction: column;
}

.w-50 {
width: 50%;
}

.w-40 {
width: 40%;
}

.form-sphere {
border: 1px solid #AAA;
border-radius: 7px;
padding: 1%;
}

.color-green {
color: #61cbb7;
}

.button {
padding: 10px 20px;
background-color: transparent;
border-radius: 8px;
border-width: 1px;
border-style: solid;
font-weight: bold;
}

.footer {
font-size: 14px;
background-color: #303846;
}

.margin-block-start {
margin-block-start: 0.5em;
}

.footer-logo {
display: flex;
flex-direction: column;
}

.m-0 {
margin: 0px;
}